MUSEO_API_BASE_URL=http://127.0.0.1:5000
MUSEO_API_KEY=la_misma_key_que_pongas_en_el_principal
MUSEO_TTS_PUBLIC_BASE_URL=http://192.168.1.50:8010

TTS_API_KEY=clave_para_la_esp32

EDGE_TTS_VOICE=es-CO-GonzaloNeural
EDGE_TTS_RATE=+0%
EDGE_TTS_VOLUME=+0%

AUDIO_CACHE_DIR=./cache_audio